{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - DéchetsApp{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Bienvenue sur DéchetsApp</h1>
        <p>Cette application vous permet de :</p>
        <ul>
            <li>Signaler une poubelle pleine</li>
            <li>Consulter les calendriers de collecte</li>
            <li>Localiser les centres de recyclage</li>
            <li>Gagner des points de fidélité</li>
            <li>Quiz pour enfants</li>
        </ul>
    </div>
{% endblock %}
