{% extends 'base.html.twig' %}

{% block title %}Edit CentreRecyclage{% endblock %}

{% block body %}
    <h1>Edit CentreRecyclage</h1>

    {{ include('centre_recyclage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_centre_recyclage_index') }}">back to list</a>

    {{ include('centre_recyclage/_delete_form.html.twig') }}
{% endblock %}
