{% extends 'base.html.twig' %}

{% block title %}New CentreRecyclage{% endblock %}

{% block body %}
    <h1>Create new CentreRecyclage</h1>

    {{ include('centre_recyclage/_form.html.twig') }}

    <a href="{{ path('app_centre_recyclage_index') }}">back to list</a>
{% endblock %}
